.fleropp_card{
    /* background-color: #8DBDFF; */
    background-color: #010C80;
    color:white;
    font-family: 'Prompt', 'sans-serif';
}
.bg-fleropp {
    background-color: #010C80;
}
.fleropp-navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1030;
}
.fleropp_font {
    font-family: 'Roboto Mono', monospace;
}
.fleropp_prompt {
    font-family: 'Prompt', 'sans-serif';
}
.bg-fleropp-secondary {
    background-color: #8DBDFF;
}